<div id="@Id" class="modal fade @modalClass" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 8px !important; align-content:center !important">
                <span class="modal-title-msg">
                    @if (Type == "info")
                    {
                        @("សារជូនដំណឹង");
                    }
                    else if (Type == "confirm")
                    {
                        @("សារបញ្ជាក់");
                    }
                    else if (Type == "error")
                    {
                        @("សារកំហុស");
                    }
                    else if (Type == "warning")
                    {
                        @("សារជូនដំណឹង");
                    }
                </span>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">x</button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        @if (Type == "info")
                        {
                            <img src="images/information.png" style="height: 48px; width: 48px;" />
                        }
                        else if (Type == "confirm" || Type == "question")
                        {
                            <img src="images/confirm.png" style="height: 48px; width: 48px;" />
                        }
                        else if (Type == "error")
                        {
                            <img src="images/error.png" style="height: 48px; width: 48px;" />
                        }
                        else if (Type == "warning")
                        {
                            <img src="images/warning.png" style="height: 48px; width: 48px;" />
                        }
                    </div>
                    <div class="col-md-9">
                        @Message
                    </div>
                </div>


            </div>
            <div class="modal-footer" style="padding: 4px 8px !important;">
                @if (Type == "confirm" || Type == "question")
                {
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" @onclick="()=> OnConfirmation(false)">បដិសេធ</button>
                }
                <button type="button" class="btn btn-info btn-sm" @onclick="()=> OnConfirmation(true)">យល់ព្រម</button>
            </div>
        </div>
    </div>
</div>


@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}



@code {
    [Parameter]
    public string Id { get; set; } = "id";

    [Parameter]
    public string Type { get; set; } = "info";

    //[Parameter]
    //public RenderFragment Message { get; set; }


    //[Parameter]
    //public EventCallback<bool> ConfirmationChanged { get; set; }

    private string modalDisplay = "none;";
    private string modalClass = "";
    private bool showBackdrop = false;

    private string Message = "";
    private bool Confirmation = false;

    public void Open(string type, string message)
    {
        Confirmation = false;
        Type = type;
        Message = message;
        StateHasChanged();

        modalDisplay = "block;";
        modalClass = "show";
        showBackdrop = true;
    }

    public void Close()
    {
        modalDisplay = "none";
        modalClass = "";
        showBackdrop = false;
    }

    private void OnConfirmation(bool value)
    {
        Confirmation = value;
        Close();
        StateHasChanged();
    }

    public bool Result {get { return Confirmation; } }

    //public async Task OnConfirmationChanged(bool value)
    //{
    //    Close();
    //    await ConfirmationChanged.InvokeAsync(value);
    //}
}