

<div id="@Id" class="modal fade @modalClass" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding: 8px !important; align-content:center !important">
                <span class="modal-title-msg">
                    @if (Type == MessageBoxTypes.Info)
                    {@("សារជូនដំណឹង");
    }
    else if (Type == MessageBoxTypes.Confirm)
    { @("សារបញ្ជាក់");
}
else if (Type == MessageBoxTypes.Error)
{ @("សារកំហុស");
}
else if (Type == MessageBoxTypes.Warning)
{ @("សារជូនដំណឹង");
}
                </span>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">x</button>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        @if (Type == MessageBoxTypes.Info)
                        {
            <img src="images/information.png" style="height: 48px; width: 48px;" /> }
                        else if (Type == MessageBoxTypes.Confirm)
                        {
            <img src="images/confirm.png" style="height: 48px; width: 48px;" /> }
                        else if (Type == MessageBoxTypes.Error)
                        {
            <img src="images/error.png" style="height: 48px; width: 48px;" /> }
                        else if (Type == MessageBoxTypes.Warning)
                        {
            <img src="images/warning.png" style="height: 48px; width: 48px;" />}
                    </div>
                    <div class="col-md-9">
                        @Message
                    </div>
                </div>


            </div>
            <div class="modal-footer" style="padding: 4px 8px !important;">
                @if (Type == MessageBoxTypes.Confirm)
                {
    <button class="btn btn-danger btn-sm" data-dismiss="modal" @onclick="()=> Confirmation(false)">បដិសេធ</button>}
                <button type="button" class="btn btn-info btn-sm" @onclick="()=> Confirmation(true)">យល់ព្រម</button>
            </div>
        </div>
    </div>
</div>


@if (showBackdrop)
{
<div class="modal-backdrop fade show"></div>}



@code { [Parameter]
            public string Id { get; set; } = "id";

            [Parameter]
            public MessageBoxTypes Type { get; set; } = MessageBoxTypes.Info;

            //[Parameter]
            //public RenderFragment Message { get; set; }


            [Parameter]
            public EventCallback<(bool, string)> OnConfirmation { get; set; }

            private string modalDisplay = "none;";
            private string modalClass = "";
            private bool showBackdrop = false;

            private string Message = "";
            private string ActionType = "";

            public async Task Open(MessageBoxTypes type, string message)
            {
                await Confirmation(false);
                Type = type;
                Message = message;
                StateHasChanged();

                modalDisplay = "block;";
                modalClass = "show";
                showBackdrop = true;
            }

            public async Task Open(MessageBoxTypes type, string actionType, string message)
            {
                ActionType = actionType;
                await Open(type, message);
            }

            public void Close()
            {
                modalDisplay = "none";
                modalClass = "";
                showBackdrop = false;
            }


            public async Task Confirmation(bool value)
            {
                Close();
                await OnConfirmation.InvokeAsync((value, ActionType));
            } }