@page "/claims/new"
@page "/claims/{Id:guid}"
@inherits ClaimBase


@*<EditForm Model="@Claim" OnValidSubmit="@HandleValidSubmit">*@

<FormHeader Icon="fa-solid fa-file-signature" Title="ទម្រង់ទាមទារសោធន" IsBreadcrumbItemNull="@Claim.Pensioner.FullnameKh" />

<div class="content mx-3 mb-5 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="card-title"><i class="fa-solid fa-file-invoice"></i> ព័ត៌មានទាមទារ</div>
                    </div>
                    <div class="card-body">
                        <FormRow>
                            <div class="form-group col-md">
                                @if (Claim.ElderlyRegulation)
                                {
                                    <div class="d-flex justify-content-between">
                                        <Label for="claimtype" Text="ប្រភេទសោធន" IsRequire="true" />
                                        <div class="n-chk">
                                            <label class="new-control new-checkbox checkbox-info">
                                                <input type="checkbox" disabled class="new-control-input" @bind="Claim.ElderlyRegulation">
                                                <span class="new-control-indicator"></span><span class="bold-text" style="color: var(--info);">អយ្យកប្បញត្តិ</span>
                                            </label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <Label for="claimtype" Text="ប្រភេទសោធន" IsRequire="true" />
                                }
                                <select id="claimtype" class="form-control" @bind="Claim.PsTypeId" disabled="@Disabled">
                                    @foreach (PensionTypeModel type in PensionTypes)
                                    {
                                        <option value="@type.TypeId">@type.TypeNameKh</option>
                                    }
                                </select>
                            </div>
                        </FormRow>
                        <FormRow>
                            <div class="form-group col-md">
                                <label for="claimCode">លេខកូដ</label>
                                <input type="text" class="form-control" id="claimCode" @bind="Claim.ClaCode" disabled />
                            </div>
                        </FormRow>
                        <FormRow>
                            <div class="form-group col-md">
                                <label for="claimdate">កាលបរិច្ឆេទ</label>
                                <input type="text" class="form-control" disabled id="claimcodedate" @bind="Claim.ClaDate" @bind:format="dd-MM-yyyy" />
                            </div>
                        </FormRow>
                        <FormRow>
                            <div class="form-group col-md">
                                <label for="">កាលបរិច្ឆេទទាមទារ</label>
                                <input type="text" class="form-control datepicker" id="claimdate" disabled="@Disabled" />
                            </div>
                        </FormRow>
                        <FormRow>
                            <div class="form-group col-md">
                                <label for="effectivedate">មានប្រសិទ្ធភាពនៅថ្ងៃ</label>
                                <input type="text" disabled class="form-control" id="effectivedate" @bind="Claim.EffectiveDate" @bind:format="dd-MM-yyyy" />
                            </div>
                        </FormRow>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card card-info card-outline card-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tabs-pensioner-tab" data-toggle="pill" href="#tabs-pensioner" role="tab" aria-controls="tabs-pensioner" aria-selected="true">
                                    <i class="fa-solid fa-user-tie"></i> ព័ត៌មានសោធនិក
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tabs-bank-tab" data-toggle="pill" href="#tabs-bank" role="tab" aria-controls="tabs-bank" aria-selected="false">
                                    <i class="fa-solid fa-credit-card"></i> គណនីធនាគារ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tabs-family-tab" data-toggle="pill" href="#tabs-family" role="tab" aria-controls="tabs-family" aria-selected="false">
                                    <i class="fa-solid fa-people-roof"></i> អ្នកពាក់ព័ន្ធសោធនិក
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tabs-address-tab" data-toggle="pill" href="#tabs-address" role="tab" aria-controls="tabs-address" aria-selected="false">
                                    <i class="fa-solid fa-map-location-dot"></i> អាសយដ្ឋាន
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-three-tabContent">
                            @*PENSIONER*@
                            <div class="tab-pane fade active show" id="tabs-pensioner" role="tabpanel" aria-labelledby="tabs-pensioner-tab">
                                <FormRow>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="benid">លេខអត្ត. ប.ស.ស</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control masked-benid" id="benid" @bind="Claim.BenId" disabled="@Disabled">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="FullnameKh">គោត្តនាម-នាម</label>
                                        <input type="text" class="form-control" id="FullnameKh" @bind="Claim.Pensioner.FullnameKh" disabled />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="FullnameEn">គោត្តនាម-នាម (ឡាតាំង)</label>
                                        <input type="text" class="form-control" id="FullnameEn" @bind="Claim.Pensioner.FullnameEn" disabled />
                                    </div>
                                </FormRow>
                                <FormRow>
                                    <div class="form-group col-md-2">
                                        <label for="bensex">ភេទ</label>
                                        <select id="bensex" class="form-control" disabled @bind="Claim.Pensioner.SexId">
                                            @foreach (GenderModel gen in Genders)
                                            {
                                                <option value="@gen.GenID">@gen.GenName</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="familystatus">ស្ថានភាពគ្រួសារ</label>
                                        <select id="familystatus" class="form-control" @bind="Claim.FamilyStatusId" disabled="@Disabled">
                                            @foreach (FamilyStatusModel fam in FamilyStatus)
                                            {
                                                <option value="@fam.FsId">@fam.FsNameKh</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="bendob"> ថ្ងៃខែឆ្នាំកំណើត</label>
                                        <input type="text" class="form-control" id="bendob" disabled @bind="Claim.Pensioner.Dob" @bind:format="dd-MM-yyyy">
                                    </div>
                                    <div class="form-group col-md-4">
                                        @{ string age = "";
                                            if (Claim.Pensioner != null && Claim.Pensioner.Dob != null)
                                            {
                                                Tuple<int, int, int>
                                                    tuple = Utils.CalAge(Claim.Pensioner.Dob.Value, DateTime.Now);
                                                int ageYear = tuple.Item1;
                                                int ageMonth = tuple.Item2;
                                                int ageDay = tuple.Item3;
                                                age = string.Format("{0}ឆ្នាំ {1}ខែ {2}ថ្ងៃ", ageYear, ageMonth, ageDay);
                                            }
                                            <label for="benage">អាយុ</label>
                                            <input type="text" class="form-control" id="benage" disabled value="@age">
                                        }
                                    </div>
                                </FormRow>

                                <FormRow>
                                    <div class="form-group col-md-4">
                                        <label for="bennat">@("សញ្ញាតិ")</label>
                                        <select id="bennat" class="form-control" disabled @bind="Claim.NationalId">
                                            @foreach (var nat in Nationalities)
                                            {
                                                <option value="@nat.NatID">@nat.NatNameKh</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <Label for="cardtype" Text="ប្រភេទប័ណ្ណ" />
                                        <select id="cardtype" class="form-control" @bind="Claim.IdType" disabled="@Disabled">
                                            @foreach (var car in CardTypes)
                                            {
                                                <option value="@car.CarId">@car.CarNameKhmer</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <Label for="benidcard" Text="លេខប័ណ្ណ" />
                                        <input type="text" class="form-control" id="benidcard" @bind="Claim.IdNumber" disabled="@Disabled">
                                    </div>
                                </FormRow>
                                <FormRow>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="entid">អត្ត.សហគ្រាស</label>
                                        <select id="entid" class="form-control" @bind="Claim.EntId" disabled="@Disabled">
                                            @if (Claim.Pensioner != null && Claim.Pensioner.Contributions != null)
                                            {
                                                @foreach (var ent in Claim.Pensioner.Contributions.Select(s => new { s.EntId, s.EntArea, s.EntNameKhmer, s.EntNameLatin }).Distinct())
                                                {
                                                    <option value="@ent.EntId">@(ent.EntNameKhmer + " | " + ent.EntNameLatin)</option>
                                                }}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="numcon">ចំនួនខែបានបង់ភាគទាន</label>
                                        <input type="text" class="form-control" id="numcon" disabled @bind="Claim.NumConMonth">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="totalassumewage">ប្រាក់ជាប់ភាគទានសរុប</label>
                                        <input type="text" class="form-control" id="totalassumewage" disabled @bind="Claim.TotalAssumeWage">
                                    </div>
                                </FormRow>


                                @*DOCUMENT OF PENSIONER*@
                                <div class="form-row mt-3">
                                    <div class="form-group col-md">
                                        <div class="d-flex justify-content-md-between py-2">
                                            <label for="pensioner-docs">ឯកសារសោធនិក</label>
                                            <button type="button" class="btn btn-outline-info btn-sm" @onclick="() => ModalClaimDocument.Show(-1)" disabled="@Disabled">
                                                <i class="fas fa-circle-plus"></i> បន្ថែមថ្មី
                                            </button>
                                        </div>

                                        <div class="table-responsive" id="pensioner-docs">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        @foreach (string name in TableHeaderDocument)
                                                        {
                                                            <th class="text-center">@name</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Claim.Documents.Count == 0)
                                                    {
                                                        <tr><td colspan=@TableHeaderDocument.Count class="text-center">មិនទាន់មានឯកសារ</td></tr>
                                                    }
                                                    else
                                                    {
                                                        @foreach (ClaimDocumentModel doc in Claim.Documents)
                                                        {
                                                            <tr>
                                                                <td class="text-center">@(Claim.Documents.IndexOf(doc) + 1)</td>
                                                                <td>@(Documents.Where(w => w.DocID == doc.DocID).FirstOrDefault().DocName)</td>
                                                                <td>@doc.DocCode</td>
                                                                <td>@doc.DocDateString</td>
                                                                <td>@doc.DocBy</td>
                                                                <td>@doc.DocAt</td>
                                                                <td class="text-center">
                                                                    <button class="btn btn-dark btn-sm" disabled="@Disabled" @onclick="() => ModalClaimDocument.Show(Claim.Documents.IndexOf(doc))"><i class="fas fa-pen-to-square"></i></button>
                                                                    <button class="btn btn-danger btn-sm" disabled="@Disabled" @onclick="()=> OnRemoveClaimDocument(Claim.Documents.IndexOf(doc))"><i class="fa-solid fa-trash"></i></button>
                                                                </td>
                                                            </tr>
                                                        }}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <ClaimDocumentModal @ref="ModalClaimDocument" Documents="Documents" OnSubmit="@((e) => OnClaimDocumentModalSubmit(e.Item1, e.Item2))" />
                            </div>


                            @*BANK ACCOUNT*@
                            <div class="tab-pane fade" id="tabs-bank" role="tabpanel" aria-labelledby="tabs-bank-tab">
                                <FormRow>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="benbank">ធនាគារ</label>
                                        <select id="benbank" class="form-control" @bind="Claim.BankId" disabled="@Disabled">
                                            @foreach (BankModel bank in Banks)
                                            {
                                                <option value="@bank.BankId">@bank.BankNameKh</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="required" for="bankaccount">លេខគណនី</label>
                                        <input type="text" class="form-control" id="bankaccount" @bind="Claim.BankAccount" disabled="@Disabled">
                                    </div>
                                </FormRow>
                            </div>


                            @*FAMILY OF PENSIONER*@
                            <div class="tab-pane fade" id="tabs-family" role="tabpanel" aria-labelledby="tabs-family-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <button type="button" class="btn btn-outline-info btn-sm float-right" disabled="@Disabled" @onclick="() => ModalMember.Show(-1)">
                                            <i class="fas fa-circle-plus"></i> បន្ថែមថ្មី
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                @foreach (string name in TableHeaderMember)
                                                {
                                                    <th class="text-center">@name</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Claim.Members.Count == 0)
                                            {
                                                <tr><td colspan="@TableHeaderMember.Count" class="text-center">មិនទាន់មានអ្នកពាក់ព័ន្ធ</td></tr>
                                            }
                                            else
                                            {
                                                @foreach (ClaimFamilyMemberModel mem in Claim.Members)
                                                {
                                                    <tr>
                                                        <td class="text-center" style="min-width: 50px">@(Claim.Members.IndexOf(mem) + 1)</td>
                                                        <td style="min-width: 175px">
                                                            <div class="form-row align-middle">
                                                                @if (mem.Documents.Count > 0)
                                                                {

                                                                    <span class="bs-tooltip" title=@(string.Join("\n", mem.Documents.Select(s => s.DocName)))>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                                            <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                                                                        </svg>
                                                                    </span>}

                                                                <div class="col">
                                                                    <span class="bold-text">@(mem.FirstNameKh + " " + mem.LastNameKh)</span>
                                                                    <span class="sub">@(mem.FirstNameLatin + " " + mem.LastNameLatin)</span>
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td>@(mem.GenId == "1" ? "ប្រុស" : "ស្រី")</td>
                                                        <td>@mem.DobString</td>
                                                        <td class="text-center">@mem.Relationship</td>
                                                        <td class="text-center">
                                                            <div class="col">
                                                                <span class="bold-text">@mem.Nationality</span>
                                                                <span class="sub">@mem.IdNumber</span>
                                                            </div>
                                                        </td>
                                                        <td>@mem.Phone</td>
                                                        <td class="text-center">
                                                            <button class="btn btn-dark btn-sm" disabled="@Disabled" @onclick="() => ModalMember.Show(Claim.Members.IndexOf(mem))"><i class="fas fa-pen-to-square"></i></button>
                                                            <button class="btn btn-danger btn-sm" disabled="@Disabled" @onclick="()=> OnRemoveMember(Claim.Members.IndexOf(mem))"><i class="fa-solid fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }}
                                        </tbody>
                                    </table>
                                </div>
                                <ClaimFamilyModal @ref="ModalMember" Genders="Genders" Documents="Documents" Nationalities="Nationalities" Relationships="Relationships" TableHeaderDocument="TableHeaderDocument" OnSubmit="(e) => OnMemberModalSubmit(e.Item1, e.Item2)" />
                            </div>


                            @*ADDRESS AND CONTACT OF PENSIONER*@
                            <div class="tab-pane fade" id="tabs-address" role="tabpanel" aria-labelledby="tabs-address-tab">
                                <div class="form-row mb-2">
                                    <div class="form-group col-md-4">
                                        <label class="required" for="province">រាជធានី/ខេត្ត</label>
                                        <select id="province" class="form-control" @bind="Claim.ProId" disabled="@Disabled">
                                            @foreach (var pro in Provinces)
                                            {
                                                <option value="@pro.ProID">@pro.ProType@pro.ProNameKhmer</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="district">ខណ្ឌ/ក្រុង/ស្រុក</label>
                                        <select id="district" class="form-control" @bind="Claim.DisId" disabled="@Disabled">
                                            @foreach (var dis in Districts)
                                            {
                                                <option value="@dis.DisID">@(dis.DisType + (dis.DisID > -1 ? dis.DisNameKhmer : ""))</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="commune">ឃុំ/សង្កាត់</label>
                                        <select id="commune" class="form-control" @bind="Claim.ComId" disabled="@Disabled">
                                            @foreach (var com in Communes)
                                            {
                                                <option value="@com.ComId">@(com.ComType + (com.ComId > -1 ? com.ComNameKhmer : ""))</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="form-group col-md-4">
                                        <label for="village">ភូមិ</label>
                                        <input type="text" class="form-control" id="village" @bind="Claim.Village" disabled="@Disabled">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="street">ផ្លូវ</label>
                                        <input type="text" class="form-control" id="street" @bind="Claim.Street" disabled="@Disabled">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="home">ផ្ទះលេខ</label>
                                        <input type="text" class="form-control" id="home" @bind="Claim.Home" disabled="@Disabled" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="required" for="phone1">លេខទូរស័ព្ទទី១</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control masked-phone" id="phone1" @bind="Claim.Phone1" disabled="@Disabled">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="required" for="phone2">លេខទូរស័ព្ទទី២</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control masked-phone" id="phone2" @bind="Claim.Phone2" disabled="@Disabled">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*@if (this.Claim.StatusId == 1 || this.Claim.StatusId == 4)
    {*@
<footer class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
            <button id="multiple-reset" class="btn btn-dark">
                <i class="fas fa-circle-plus"></i> បន្ថែមថ្មី
            </button>
        </li>
        <li class="nav-item mr-2">
            <button id="multiple-reset" class="btn btn-dark" @onclick="OnEdit" disabled="@btnEditDisabled">
                @if (this.FormMode == FormMode.EDITABLE && !this.Disabled)
                {
                    <i class="fa-solid fa-xmark"> បោះបង់</i>
                }
                else
                {
                    <i class="fa-solid fa-pen-to-square"> កែប្រែ</i>
                }
            </button>
        </li>
        <li class="nav-item">
            <button id="multiple-reset" class="btn btn-info" @onclick="OnSave" disabled="@(Disabled)">
                <i class="fas fa-floppy-disk"></i> រក្សាទុក
            </button>
        </li>
    </ul>
</footer>


<Message @ref="MessageBox" />
<Loading @ref="Loading" />
@*</EditForm>*@

